<%- include('partials/header') %>

<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/article.css">
    <main>

<img class="illustration" src="/visuals/coffees/Capture d’écran_2024-06-04_12-10-33.png" alt="picture of coffee">


    </main>
    

    <section class="news__article">
     
                 
                <article class="article"> 
                    <img src="/visuals/coffees/<%= cafe.reference %>.png" alt="">
              <h3> <%= cafe.nom  %> </h3>
            <p> <%= cafe.description%></p>
            <p> <%= cafe.origine%></p>
            <p> <%= cafe.prix_kilo%></p>
            <p> <%= cafe.caracteristique_principale%></p>
            

            <a href="/article/<%= cafe.id %>">
              <button class="button-56" role="button">Découvrir</button>
          </a>
          </article> 
        
        
           
           <%- include('partials/footer') %>
