<%- include('partials/header') %>

<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/home.css">

    <main class="main">
     
        <div class="presentation">
          <div>
          <h2 class="title">Notre Histoire</h2>
             <p>Jean et Jacques Pepper, deux frères passionnés par l'univers du café, ont toujours rêvé de créer leur propre boutique de café haut de gamme. L'occasion de concrétiser ce rêve est arrivée lors d'un voyage inoubliable en Colombie, un pays célèbre pour ses plantations de café renommées dans le monde entier.
            </p>
            <a href="/catalogue">
              <button class="button-56" role="button">Notre catalogue</button>
          </a>
          </div>
             <div class="presentation__image"> <img class="image__coffee" src="/visuals/about.jpg" alt="picture of coffee"></div>  
                  </div>
                  
    </main>
    <div class="news"></div>
    <h2 class="title">
      Nouveautés
    </h2>
  <section class="news__article">
    <% cafes.forEach(element => { %>
      
        <article class="article"> 
      <img class="img_article"  src="visuals/coffees/<%= element.reference %>.png" alt="">
      <h3> <%= element.nom  %> </h3>
    <p> <%= element.description%></p> 
    <a href="/article/<%= element.id %>">
      <button class="button-56" role="button">Découvrir</button>
  </a>
  </article> 

<%}); %>
</section>
    <%- include('partials/footer') %>




